<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>Wohnungsmarkt</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="showMenuPopover($event)" data-cy="apartments-page-open-menu-popover-button">
        <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <ion-segment
      (ionChange)="slidesElementRef?.nativeElement.swiper.slideTo(getIndexOfSegment())"
      [(ngModel)]="segment"
    >
      <ion-segment-button value="offers">
        <ion-label>Angebote</ion-label>
      </ion-segment-button>
      <ion-segment-button value="searches">
        <ion-label>Gesuche</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  @if (apartments && apartments.offers; as offers) { @if (apartments && apartments.searches; as searches) { @if
  (offers.data.length > 0 || searches.data.length > 0) {
  <swiper-container
    #slides
    [options]="{autoHeight: true}"
    (slidechange)="setSegmentByIndex(slidesElementRef?.nativeElement.swiper.activeIndex)"
  >
    <swiper-slide>
      @for (apartmentOffer of offers.data; track trackByIndex($index, apartmentOffer)) {
      <app-apartment-card [apartment]="apartmentOffer"> </app-apartment-card>
      }
    </swiper-slide>
    <swiper-slide>
      @for (apartmentSearch of searches.data; track trackByIndex($index, apartmentSearch)) {
      <app-apartment-card [apartment]="apartmentSearch"> </app-apartment-card>
      }
    </swiper-slide>
  </swiper-container>
  <ion-infinite-scroll
    [disabled]="(!offers.infiniteLoadingEnabled && segment === 'offers') || (!searches.infiniteLoadingEnabled && segment === 'searches')"
    threshold="100px"
    (ionInfinite)="loadMoreApartments($event)"
  >
    <ion-infinite-scroll-content loadingText="Bitte warten..."> </ion-infinite-scroll-content>
  </ion-infinite-scroll>
  } @else {
  <div id="content-placeholder">
    <ion-icon name="home"></ion-icon>
  </div>
  } } @else {
  <div id="content-placeholder">
    <ion-icon name="home"></ion-icon>
  </div>
  } } @else {
  <div id="content-placeholder">
    <ion-icon name="home"></ion-icon>
  </div>
  }
</ion-content>
