@if (contact) {
  <ion-card>
    <ion-card-header>
      @if (contact.jobtitle) {
        <ion-card-subtitle>{{ contact.jobtitle }}</ion-card-subtitle>
      }
      @if (contact.firstname || contact.lastname) {
        <ion-card-title
          >{{ contact.firstname }}
          @if (contact.firstname && contact.lastname) {
            <span>&nbsp;</span>
          }
          {{ contact.lastname }}</ion-card-title
        >
      }
    </ion-card-header>
    <ion-card-content>
      <ion-grid class="ion-no-padding">
        @if (contact.location) {
          <ion-row>
            <ion-col size="4">
              <div>Raum:</div>
            </ion-col>
            <ion-col size="8">
              <div class="ion-float-right">{{ contact.location }}</div>
            </ion-col>
          </ion-row>
        }
        @if (contact.phone) {
          <ion-row>
            <ion-col size="4">
              <div>Telefon:</div>
            </ion-col>
            <ion-col size="8">
              <div class="ion-float-right phoneNumber" (click)="_openWindow('tel:' + contact.phone)">
                {{ contact.phone }}
              </div>
            </ion-col>
          </ion-row>
        }
        @if (contact.mail) {
          <ion-row>
            <ion-col size="4">
              <div>E-Mail:</div>
            </ion-col>
            <ion-col size="8">
              <div
                class="mailAddress ion-float-right"
                (press)="_copyToClipboard(contact.mail)"
                (click)="_openWindow('mailto:' + contact.mail)"
              >
                {{ contact.mail }}
              </div>
            </ion-col>
          </ion-row>
        }
      </ion-grid>
    </ion-card-content>
  </ion-card>
}
