<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>Dualis</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        <ion-icon slot="icon-only" md="log-out-sharp" ios="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar
      placeholder="Prüfungsergebnisse durchsuchen"
      inputmode="search"
      (keyup.enter)="hideKeyboard()"
      [(ngModel)]="searchbarValue"
    ></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <app-dualis-semester-select
    [semesterList]="semesterList"
    (selectSemester)="selectSemester($event)"
  ></app-dualis-semester-select>
  @if (semesterResults?.units; as units) {
    @for (unit of units | dualisUnitFilter: searchbarValue; track trackByIndex($index, unit)) {
      <app-dualis-unit-card [unit]="unit"></app-dualis-unit-card>
    }
  }
</ion-content>

<ion-footer>
  @if (semesterResults) {
    <app-dualis-semester-gpa-bar [semester]="semesterResults"></app-dualis-semester-gpa-bar>
  }
</ion-footer>
