<ion-card>
  <ion-card-header>
    <ion-card-title data-cy="moodle-news-card-component-card-title"> News </ion-card-title>
  </ion-card-header>
  <ion-card-content class="ion-text-center">
    <ion-spinner name="dots" *ngIf="!moodleNews"></ion-spinner>
    <ion-list *ngIf="moodleNews">
      <ion-item
        detail
        *ngFor="let post of moodleNews; let last = last"
        [attr.lines]="last ? 'none' : 'inset'"
        (click)="presentMoodleNewsModal(post)"
      >
        <ion-label [innerHTML]="post.subject"> </ion-label>
      </ion-item>
    </ion-list>
  </ion-card-content>
</ion-card>
