<ion-card>
  <ion-card-header>
    <ion-card-title data-cy="moodle-news-card-component-card-title"> News </ion-card-title>
  </ion-card-header>
  <ion-card-content class="ion-text-center">
    @if (!moodleNews) {
      <ion-spinner name="dots"></ion-spinner>
    }
    @if (moodleNews) {
      <ion-list>
        @for (post of moodleNews; track post; let last = $last) {
          <ion-item detail [attr.lines]="last ? 'none' : 'inset'" (click)="showMoodleNewsModal(post)">
            <ion-label><span [innerHTML]="post.subject"></span></ion-label>
          </ion-item>
        }
      </ion-list>
    }
  </ion-card-content>
</ion-card>
