<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button data-cy="imprint-page-back-button"></ion-back-button>
    </ion-buttons>
    <ion-title>Impressum</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <p>
    <b>Duale Hochschule Baden-Württemberg</b><br />
    Villingen-Schwenningen<br />
    Friedrich-Ebert-Straße 30<br />
    78054 Villingen-Schwenningen<br />
    <br />
    Tel. 07720 3906-0<br />
    Fax 07720 3906-119<br />
    info@dhbw-vs.de<br />
    www.dhbw-vs.de<br />
    <br />
    Die Duale Hochschule Baden-Württemberg ist eine juristische Person des öffentlichen Rechts. Sie wird gesetzlich
    vertreten durch den Präsidenten der Dualen Hochschule Baden-Württemberg, Herrn Prof. Arnold van Zyl. Gesetzlicher
    Vertreter des Hochschulstandorts Villingen-Schwenningen ist der Rektor Herr Prof. Dr. Ulrich Kotthaus.<br />
    <br />
    Umsatzsteuer-Identifikationsnummer gemäß §27a Umsatzsteuergesetz: DE287664832 <br />
  </p>
  <br />
  <p>
    <b>ZUSTÄNDIGE AUFSICHTSBEHÖRDE</b><br />
    Ministerium für Wissenschaft, Forschung und Kunst<br />
    Baden-Württemberg<br />
    Königstraße 46<br />
    D-70173 Stuttgart<br />
    Tel.(+49) 711 / 279-0<br />
    Fax (+49) 711 / 279-3081<br />
    poststelle@mwk.bwl.de<br />
  </p>
  <br />
  <p>
    <b>REDAKTIONELLE VERANTWORTLICHKEITEN</b><br />
    Prof. Dr. Martin Kimmig<br />
    Tel. 07720 3906-163<br />
    kimmig@dhbw-vs.de<br />
    Für die Seiten der jeweiligen Studiengänge, Studienrichtungen, Studienzentren oder Organisationseinheiten
    (Rechenzentrum, Auslandsamt, Bibliothek etc.) sind die jeweils dort zuständigen Personen verantwortlich.<br />
  </p>
  <br />
  <p>
    <b>HAFTUNGSBESCHRÄNKUNG</b><br />
    Die Inhalte dieser App werden mit größtmöglicher Sorgfalt erstellt. Der Anbieter übernimmt jedoch keine Gewähr für
    die Richtigkeit, Vollständigkeit und Aktualität der bereitgestellten Inhalte. Die Nutzung der Inhalte der App
    erfolgt auf eigene Gefahr des Nutzers. Namentlich gekennzeichnete Beiträge geben die Meinung des jeweiligen Autors
    und nicht immer die Meinung des Anbieters wieder.<br />
  </p>
  <br />
  <p>
    <b>EXTERNE LINKS</b><br />
    Diese App enthält Verknüpfungen zu Websites Dritter ("externe Links"). Diese Websites unterliegen der Haftung der
    jeweiligen Betreiber. Der Anbieter hat bei der erstmaligen Verknüpfung der externen Links die fremden Inhalte
    daraufhin überprüft, ob etwaige Rechtsverstöße bestehen. Zu dem Zeitpunkt waren keine Rechtsverstöße ersichtlich.
    Der Anbieter hat keinerlei Einfluss auf die aktuelle und zukünftige Gestaltung und auf die Inhalte der verknüpften
    Seiten. Das Setzen von externen Links bedeutet nicht, dass sich der Anbieter die hinter dem Verweis oder Link
    liegenden Inhalte zu Eigenmacht. Eine ständige Kontrolle der externen Links ist für den Anbieter ohne konkrete
    Hinweise auf Rechtsverstöße nicht zumutbar. Bei Kenntnis von Rechtsverstößen werden jedoch derartige externe Links
    unverzüglich gelöscht.
    <br />
  </p>
  <br />
  <p>
    <b>URHEBER- UND LEISTUNGSSCHUTZRECHTE</b><br />
    Die auf dieser Website veröffentlichten Inhalte unterliegen dem deutschen Urheber- und Leistungsschutzrecht. Jede
    vom deutschen Urheber- und Leistungsschutzrecht nicht zugelassene Verwertung bedarf der vorherigen schriftlichen
    Zustimmung des Anbieters oder jeweiligen Rechteinhabers. Dies gilt insbesondere für Vervielfältigung, Bearbeitung,
    Übersetzung, Einspeicherung, Verarbeitung oder Wiedergabe von Inhalten in Datenbanken oder anderen elektronischen
    Medien und Systemen. Inhalte und Rechte Dritter sind dabei als solche gekennzeichnet. Die unerlaubte
    Vervielfältigung oder Weitergabe einzelner Inhalte oder kompletter Seiten ist nicht gestattet und strafbar.
    Lediglich die Herstellung von Kopien und Downloads für den persönlichen, privaten und nicht kommerziellen Gebrauch
    ist erlaubt. Die Darstellung dieser Website in fremden Frames ist nur mit schriftlicher Erlaubnis zulässig.<br />
  </p>
  <br />
  <h2>DATENSCHUTZ</h2>
  <p>
    Durch die Benutzung der bereitgestellten Dienste des Anbieters können Informationen über den Zugriff (Datum,
    Uhrzeit, betrachtete Seite) gespeichert werden. Sie werden ausschließlich zu statistischen Zwecken sowie zur
    Behebung von technischen Störungen ausgewertet. Eine Weitergabe an Dritte, zu kommerziellen oder nichtkommerziellen
    Zwecken, findet nicht statt, sofern keine gesetzliche Notwendigkeit besteht (zum Beispiel an
    Strafverfolgungsbehörden).<br />
    Der Anbieter weist ausdrücklich darauf hin, dass die Datenübertragung im Internet (zum Beispiel bei der
    Kommunikation per E-Mail) Sicherheitslücken aufweist und nicht lückenlos vor dem Zugriff durch Dritte geschützt
    werden kann.<br />
    Die Verwendung der Kontaktdaten zur gewerblichen Werbung ist ausdrücklich nicht erwünscht, es sei denn der Anbieter
    hatte zuvor seine schriftliche Einwilligung erteilt oder es besteht bereits eine Geschäftsbeziehung. Der Anbieter
    und alle in dieser App genannten Personen widersprechen hiermit jeder kommerziellen Verwendung und Weitergabe ihrer
    Daten.<br />
    In der App werden folgende Daten gespeichert:<br />
    <br />
    Martrikelnummer<br />
    Vorname<br />
    Nachname<br />
    Studiengang<br />
    <br />
    Sämtliche Protokolldateien werden nach Ablauf der gesetzlichen Fristen anonymisiert bzw. gelöscht.<br />
  </p>
  <br />
  <b>OpenStreetMap</b>
  <p>
    Wir binden die Landkarten des Dienstes OpenStreetMap ein (https://www.openstreetmap.org), die auf Grundlage der Open
    Data Commons Open Database Lizenz (ODbL) durch die OpenStreetMap Foundation (OSMF) angeboten werden. Anbieterin ist
    die Open-Street-Map Foundation (OSMF), 132 Maney Hill Road, Sutton Coldfield, West Midlands, B72 1JU, United
    Kingdom.
  </p>
  <p>
    Wenn Sie eine Website besuchen, auf der OpenStreetMap eingebunden ist, werden u. a. Ihre IP-Adresse und weitere
    Informationen über Ihr Verhalten auf dieser Website an die OSMF weitergeleitet. OpenStreetMap speichert hierzu unter
    Umständen Cookies in Ihrem Browser. Das sind Textdateien, die auf Ihrem Computer gespeichert werden und die eine
    Analyse der Benutzung der Website durch Sie ermöglichen. Sie können die Speicherung der Cookies durch eine
    entsprechende Einstellung Ihrer Browser-Software verhindern; wir weisen Sie jedoch darauf hin, dass Sie in diesem
    Fall gegebenenfalls nicht sämtliche Funktionen dieser Website vollumfänglich werden nutzen können.
  </p>
  <p>
    Nach unserer Kenntnis werden die Daten der Nutzer durch OpenStreetMap ausschließlich zu Zwecken der Darstellung der
    Kartenfunktionen und Zwischenspeicherung der gewählten Einstellungen verwendet. Ferner kann Ihr Standort erfasst
    werden, wenn Sie dies in Ihren Geräteeinstellungen – z. B. auf Ihrem Handy – zugelassen haben. Der Anbieter dieser
    Seite hat keinen Einfluss auf diese Datenübertragung. Details entnehmen Sie der Datenschutzerklärung von
    OpenStreetMap unter folgendem Link: https://wiki.osmfoundation.org/wiki/Privacy_Policy.
  </p>
  <p>
    Aufrufe der Karten-Elemente von openstreetmap.org werden üblicherweise von einem Server in Europa beantwortet. Die
    für den Aufruf nötige IP-Adresse wird in den Logdateien anonymisiert. Eine Liste der Server zur Auslieferung von
    Karten-Elementen finden Sie hier https://hardware.openstreetmap.org/#tile-caches.
  </p>
  <p>
    Die Nutzung von OpenStreetMap erfolgt im Interesse einer ansprechenden Darstellung unserer Online-Angebote und einer
    leichten Auffindbarkeit der von uns auf der Website angegebenen Orte. Dies stellt ein berechtigtes Interesse im
    Sinne von Art. 6 Abs. 1 lit. f DSGVO dar. Sofern eine entsprechende Einwilligung abgefragt wurde (z. B. eine
    Einwilligung zur Speicherung von Cookies), erfolgt die Verarbeitung ausschließlich auf Grundlage von Art. 6 Abs. 1
    lit. a DSGVO; die Einwilligung ist jederzeit widerrufbar.
  </p>
  <br />
  <p>
    <b>ENTWICKLER DER APP</b><br />
    <i>Bis Version 1.1.1</i><br />
    Marc Fischer<br />
    Marc Klunzinger<br />
    Thomas Steinhart<br />
    <br />
    <i>Ab Version 2.0.0</i><br />
    Robin Genz<br />
    Nico Borho<br />
    Chiara Schütz<br />
  </p>
  <br />
</ion-content>
