@if (calendarComponent) {
  <ion-toolbar [mode]="'md'"
    ><ion-title color="dark">{{ calendarTitle$ | async }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="showCalendarViewOptionsPopover($event)" fill="clear" color="dark">
        @switch (calendarTitle$ | async) {
          @case (CALENDAR_VIEW_TIMEGRIDDAY) {
            <fa-icon [icon]="['fas', 'calendar-day']" [size]="'lg'"></fa-icon>
          }
          @case (CALENDAR_VIEW_TIMEGRIDWEEK) {
            <fa-icon [icon]="['fas', 'calendar-week']" [size]="'lg'"></fa-icon>
          }
          @default {
            <fa-icon [icon]="['fas', 'calendar-alt']" [size]="'lg'"></fa-icon>
          }
        }
      </ion-button>
      <ion-button (click)="navigateBack()" fill="clear" color="dark">
        <fa-icon [icon]="['fas', 'chevron-left']" [size]="'lg'"></fa-icon>
      </ion-button>
      <ion-button (click)="navigateToToday()" fill="clear" color="dark">Heute</ion-button>
      <ion-button (click)="navigateForward()" fill="clear" color="dark">
        <fa-icon [icon]="['fas', 'chevron-right']" [size]="'lg'"></fa-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
}
