<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>Parkplätze</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  @if (!parkingData || parkingData.length < 1) {
    <div id="content-placeholder">
      <ion-icon name="car"></ion-icon>
    </div>
  } @else {
    @for (parking of parkingData; track trackByIndex($index, parking)) {
      <app-parking-card [parking]="parking"></app-parking-card>
    }
    <div class="annotation"><ion-icon name="checkmark"></ion-icon> <span>Automatische Aktualisierung</span></div>
  }
</ion-content>
