# fastlane specific
report.xml

# deliver temporary files
Preview.html

# snapshot generated screenshots
screenshots/**/*.png
screenshots/screenshots.html

# scan temporary files
test_output

# Fastlane.swift runner binary
FastlaneRunner
