@if (unit) {
  <ion-card>
    <ion-card-header>
      @if (unit.no) {
        <ion-card-subtitle>{{ unit.no }}</ion-card-subtitle>
      }
      @if (unit.displayName) {
        <ion-card-title>{{ unit.displayName }}</ion-card-title>
      }
    </ion-card-header>
    <ion-card-content>
      <ion-grid class="ion-no-padding">
        @for (exam of unit.exams; track exam) {
          <ion-row>
            <ion-col>
              <span class="exam-name">
                @if (exam.attempt.length > 0) {
                  <span class="exam-attempt">{{ exam.attempt }}</span>
                }
                {{ exam.displayName }}
              </span>
            </ion-col>
            <ion-col>
              @if (exam.grade.length > 0) {
                <ion-badge class="ion-float-right">
                  {{ exam.grade | dualisGrade }}
                </ion-badge>
              }
            </ion-col>
          </ion-row>
        }
        <ion-row class="divider">
          <ion-col>
            <div>Endnote</div>
          </ion-col>
          <ion-col>
            <div class="ion-float-right">{{ unit.finalGrade }}</div>
          </ion-col>
        </ion-row>
        <ion-row class="divider">
          <ion-col>
            <div>Credits</div>
          </ion-col>
          <ion-col>
            <div class="ion-float-right">{{ unit.credits | dualisEmptyString }}</div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <div>Status</div>
          </ion-col>
          <ion-col>
            <div class="ion-float-right">{{ unit.status | dualisEmptyString }}</div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
}
