<ion-header>
  <ion-toolbar>
    <ion-title>Wohnungsmarkt</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  @if (apartment) {
    <ion-card>
      <ion-card-header>
        @if (apartment.firstname || apartment.lastname) {
          <ion-card-title> {{ apartment.firstname }} {{ apartment.lastname }} </ion-card-title>
        }
        @if (apartment.date) {
          <ion-card-subtitle>
            {{ apartment.date | apartmentDate }}
          </ion-card-subtitle>
        }
      </ion-card-header>
      <ion-card-content>
        @if (apartment.wg) {
          <ion-badge>Wohngemeinschaft</ion-badge>
        }
        @if (apartment.comment) {
          <p><strong>Bemerkung:</strong></p>
          <p [innerHTML]="apartment.comment"></p>
        }
        @if (apartment.price || apartment.addcosts || apartment.deposit) {
          <br />
          <p><strong>Kosten:</strong></p>
          <ion-grid class="ion-no-padding">
            @if (apartment.price) {
              <ion-row>
                <ion-col size="6">
                  <div>Mietpreis:</div>
                </ion-col>
                <ion-col size="6">
                  <div class="ion-float-right">{{ apartment.price }} €</div>
                </ion-col>
              </ion-row>
            }
            @if (apartment.addcosts) {
              <ion-row>
                <ion-col size="6">
                  <div>Nebenkosten:</div>
                </ion-col>
                <ion-col size="6">
                  <div class="ion-float-right">{{ apartment.addcosts }} €</div>
                </ion-col>
              </ion-row>
            }
            @if (apartment.deposit) {
              <ion-row>
                <ion-col size="6">
                  <div>Kaution:</div>
                </ion-col>
                <ion-col size="6">
                  <div class="ion-float-right">{{ apartment.deposit }} €</div>
                </ion-col>
              </ion-row>
            }
          </ion-grid>
        }
        @if (apartment.benefits) {
          <br />
          <p><strong>Leistungen inklusive:</strong></p>
          <p>{{ apartment.benefits }}</p>
        }
        @if (apartment.date1 || apartment.date2) {
          <br />
          <p><strong>Termine:</strong></p>
          <ion-grid class="ion-no-padding">
            @if (apartment.date1) {
              <ion-row>
                <ion-col size="6">
                  <div>Einzugstermin:</div>
                </ion-col>
                <ion-col size="6">
                  <div class="ion-float-right">{{ apartment.date1 }}</div>
                </ion-col>
              </ion-row>
            }
            @if (apartment.date2) {
              <ion-row>
                <ion-col size="6">
                  <div>Auszugstermin:</div>
                </ion-col>
                <ion-col size="6">
                  <div class="ion-float-right">{{ apartment.date2 }}</div>
                </ion-col>
              </ion-row>
            }
          </ion-grid>
        }
        @if (apartment.zip || apartment.city || apartment.street) {
          <br />
          <p><strong>Adresse:</strong></p>
          <ion-grid class="ion-no-padding">
            @if (apartment.zip) {
              <ion-row>
                <ion-col size="4">
                  <div>PLZ:</div>
                </ion-col>
                <ion-col size="8">
                  <div class="ion-float-right">{{ apartment.zip }}</div>
                </ion-col>
              </ion-row>
            }
            @if (apartment.city) {
              <ion-row>
                <ion-col size="4">
                  <div>Ort:</div>
                </ion-col>
                <ion-col size="8">
                  <div class="ion-float-right">{{ apartment.city }}</div>
                </ion-col>
              </ion-row>
            }
            @if (apartment.street) {
              <ion-row>
                <ion-col size="4">
                  <div>Straße:</div>
                </ion-col>
                <ion-col size="8">
                  <div class="ion-float-right">{{ apartment.street }}</div>
                </ion-col>
              </ion-row>
            }
          </ion-grid>
        }
        @if (apartment.distance_from && apartment.distance) {
          <br />
          <p><strong>Entfernung:</strong></p>
          <p>Entfernung zu {{ apartment.distance_from }} beträgt ungefähr {{ apartment.distance }} km</p>
        }
        @if (apartment.distance_from && !apartment.distance) {
          <br />
          <p><strong>Studienstandort:</strong></p>
          <p>{{ apartment.distance_from }}</p>
        }
        @if (apartment.size || apartment.room) {
          <br />
          <p><strong>Größe:</strong></p>
          <ion-grid class="ion-no-padding">
            @if (apartment.size) {
              <ion-row>
                <ion-col size="6">
                  <div>Größe:</div>
                </ion-col>
                <ion-col size="6">
                  <div class="ion-float-right">ca. {{ apartment.size }} qm</div>
                </ion-col>
              </ion-row>
            }
            @if (apartment.room) {
              <ion-row>
                <ion-col size="8">
                  <div>Anzahl Zimmer:</div>
                </ion-col>
                <ion-col size="4">
                  <div class="ion-float-right">{{ apartment.room }}</div>
                </ion-col>
              </ion-row>
            }
          </ion-grid>
        }
        <br />
        <p><strong>Ausstattung:</strong></p>
        @if (!apartment.smoker) {
          <ion-chip>
            <ion-label>Nichtraucher</ion-label>
          </ion-chip>
        }
        @if (apartment.furnished) {
          <ion-chip>
            <ion-label>möbiliert</ion-label>
          </ion-chip>
        }
        @if (apartment.parking) {
          <ion-chip>
            <ion-label>{{ apartment.parking }} Parkplätze</ion-label>
          </ion-chip>
        }
        @if (apartment.balcony) {
          <ion-chip>
            <ion-label>Balkon</ion-label>
          </ion-chip>
        }
        @if (apartment.kitchen) {
          <ion-chip>
            <ion-label>Küche</ion-label>
          </ion-chip>
        }
        @if (apartment.bath) {
          <ion-chip>
            <ion-label>Bad</ion-label>
          </ion-chip>
        }
        @if (apartment.shower) {
          <ion-chip>
            <ion-label>Dusche</ion-label>
          </ion-chip>
        }
        @if (apartment.wc) {
          <ion-chip>
            <ion-label>WC</ion-label>
          </ion-chip>
        }
        @if (apartment.tv) {
          <ion-chip>
            <ion-label>TV-Anschluss</ion-label>
          </ion-chip>
        }
        @if (apartment.phone) {
          <ion-chip>
            <ion-label>Telefon-Anschluss</ion-label>
          </ion-chip>
        }
        <br />
        @if (apartment.mail || apartment.phone1 || apartment.phone2 || apartment.fax) {
          <br />
          <p><strong>Kontaktdaten:</strong></p>
          <ion-grid class="ion-no-padding">
            @if (apartment.mail) {
              <ion-row>
                <ion-col size="4">
                  <div>Mail:</div>
                </ion-col>
                <ion-col size="8">
                  <div
                    class="ion-float-right mailAddress"
                    (press)="copyToClipboard(apartment.mail)"
                    (click)="openWindow('mailto:' + apartment.mail)"
                  >
                    {{ apartment.mail }}
                  </div>
                </ion-col>
              </ion-row>
            }
            @if (apartment.phone1) {
              <ion-row>
                <ion-col size="4">
                  <div>Telefon 1:</div>
                </ion-col>
                <ion-col size="8">
                  <div class="ion-float-right phoneNumber" (click)="openWindow('tel:' + apartment.phone1)">
                    {{ apartment.phone1 }}
                  </div>
                </ion-col>
              </ion-row>
            }
            @if (apartment.phone2) {
              <ion-row>
                <ion-col size="4">
                  <div>Telefon 2:</div>
                </ion-col>
                <ion-col size="8">
                  <div class="ion-float-right phoneNumber" (click)="openWindow('tel:' + apartment.phone2)">
                    {{ apartment.phone2 }}
                  </div>
                </ion-col>
              </ion-row>
            }
            @if (apartment.fax) {
              <ion-row>
                <ion-col size="4">
                  <div>Fax:</div>
                </ion-col>
                <ion-col size="8">
                  <div
                    class="ion-float-right phoneNumber"
                    (press)="copyToClipboard(apartment.fax)"
                    (click)="openWindow('tel:' + apartment.fax)"
                  >
                    {{ apartment.fax }}
                  </div>
                </ion-col>
              </ion-row>
            }
          </ion-grid>
        }
      </ion-card-content>
    </ion-card>
  }
</ion-content>
